<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle
      Name="BundleName"
      Version="1.0.0.0"
      UpgradeCode="810AECB8-6A5A-4F88-8D1F-226F39348F9F"
      Compressed="no">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          LicenseUrl=""
          Theme="hyperlinkLicense" />
    </BootstrapperApplication>   

    <Chain>
      <MsiPackage
          Id="Wix5Backend"
          SourceFile="$(var.Backend.Wix.Setup.TargetPath)"
          Compressed="yes"
          Visible="yes">
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
      </MsiPackage>
      <MsiPackage Id="Wix5ClientLib"
                  SourceFile="$(var.ClientLib.Wix.Setup.TargetPath)"
                  Compressed="yes"
                  InstallCondition="0"
                  Visible="yes">
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
    
  </Bundle>
</Wix>